@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); */
@tailwind base;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  list-style: none;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.my-cursor {
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}

.large {
  width: 70px;
  height: 70px;
}